<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713213372203-bndsgersp7365mbu14g8neub01bag33q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713213372203-bndsgersp7365mbu14g8neub01bag33q</string>
	<key>API_KEY</key>
	<string>AIzaSyAxmELnrY9UVGdRYGe5UZ8ofU_gg9LbACE</string>
	<key>GCM_SENDER_ID</key>
	<string>713213372203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.m.takuma.dev.CorporateAnalysisHubAPP</string>
	<key>PROJECT_ID</key>
	<string>corporateanalysishubapp</string>
	<key>STORAGE_BUCKET</key>
	<string>corporateanalysishubapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713213372203:ios:f1d7ada3e49e214a4b476e</string>
</dict>
</plist>